<section id="players">
  
  <h1>All players</h1>

  <table id="players">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Role</th>
        <th>PIN</th>
        <th>Top score</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each players}}
        <tr id="{{id}}">
          <td>{{firstName}}</td>
          <td>{{lastName}}</td>
          <td>{{phoneNumber}}</td>
          <td>{{company}}</td>
          <td>{{role}}</td>
          <td>{{pin}}</td>
          <td>{{topScore}}</td>
          <td><a class="delete" href="#">delete</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</section>
